<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Spering</title>

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />

  <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="/css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="/css/responsive.css" rel="stylesheet" />
</head>

<body class="sub_page">
  
  <section class="about_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-lg-9 mx-auto">
          <div class="img-box" id="index-hunterrr">
            <img src="/images/hunterrr.png" alt="">
          </div>
        </div>
      </div>
      <div class="detail-box">
        <h2>
          Türkiye'de Avlaklar ve Avcılık Faaliyetleri
        </h2>
        <p>
          Türkiye, zengin biyolojik çeşitliliği ile çeşitli avlaklara sahiptir. Orman, dağ, sulak alan ve bozkırlarda yaban domuzu, keklik, tavşan ve yaban keçisi gibi hayvanlar bulunur. Avcılık, Orman ve Su İşleri Bakanlığı'nın belirlediği kurallar çerçevesinde yapılır. Av ruhsatı ve kurallara uyma zorunludur. Avlaklar, doğa gözlemcileri için de çekici alanlardır. Doğal yaşamın korunması ve sürdürülebilir avcılık önemlidir.
        </p>
        <p>Türkiyedeki Avlaklara gözatmak için :</p>
        <select name="ctl00$CPH$ddlIl" id="citySelect" style="width:150px;">
          <option value="-1">Lütfen Seçiniz!</option>
          <option value="1">ADANA</option>
          <option value="2">ADIYAMAN</option>
          <option value="3">AFYONKARAHİSAR</option>
          <option value="4">AĞRI</option>
          <option value="68">AKSARAY</option>
          <option value="5">AMASYA</option>
          <option value="6">ANKARA</option>
          <option value="7">ANTALYA</option>
          <option value="75">ARDAHAN</option>
          <option value="8">ARTVİN</option>
          <option value="9">AYDIN</option>
          <option value="10">BALIKESİR</option>
          <option value="74">BARTIN</option>
          <option value="72">BATMAN</option>
          <option value="69">BAYBURT</option>
          <option value="11">BİLECİK</option>
          <option value="12">BİNGÖL</option>
          <option value="13">BİTLİS</option>
          <option value="14">BOLU</option>
          <option value="15">BURDUR</option>
          <option value="16">BURSA</option>
          <option value="17">ÇANAKKALE</option>
          <option value="18">ÇANKIRI</option>
          <option value="19">ÇORUM</option>
          <option value="20">DENİZLİ</option>
          <option value="21">DİYARBAKIR</option>
          <option value="81">DÜZCE</option>
          <option value="22">EDİRNE</option>
          <option value="23">ELAZIĞ</option>
          <option value="24">ERZİNCAN</option>
          <option value="25">ERZURUM</option>
          <option value="26">ESKİŞEHİR</option>
          <option value="27">GAZİANTEP</option>
          <option value="28">GİRESUN</option>
          <option value="29">GÜMÜŞHANE</option>
          <option value="30">HAKKARİ</option>
          <option value="31">HATAY</option>
          <option value="76">IĞDIR</option>
          <option value="32">ISPARTA</option>
          <option value="34">İSTANBUL</option>
          <option value="35">İZMİR</option>
          <option value="46">KAHRAMANMARAŞ</option>
          <option value="78">KARABÜK</option>
          <option value="70">KARAMAN</option>
          <option value="36">KARS</option>
          <option value="37">KASTAMONU</option>
          <option value="38">KAYSERİ</option>
          <option value="71">KIRIKKALE</option>
          <option value="39">KIRKLARELİ</option>
          <option value="40">KIRŞEHİR</option>
          <option value="79">KİLİS</option>
          <option value="41">KOCAELİ</option>
          <option value="42">KONYA</option>
          <option value="43">KÜTAHYA</option>
          <option value="44">MALATYA</option>
          <option value="45">MANİSA</option>
          <option value="47">MARDİN</option>
          <option value="33">MERSİN</option>
          <option value="48">MUĞLA</option>
          <option value="49">MUŞ</option>
          <option value="50">NEVŞEHİR</option>
          <option value="51">NİĞDE</option>
          <option value="52">ORDU</option>
          <option value="80">OSMANİYE</option>
          <option value="53">RİZE</option>
          <option value="54">SAKARYA</option>
          <option value="55">SAMSUN</option>
          <option value="56">SİİRT</option>
          <option value="57">SİNOP</option>
          <option value="58">SİVAS</option>
          <option value="63">ŞANLIURFA</option>
          <option value="73">ŞIRNAK</option>
          <option value="59">TEKİRDAĞ</option>
          <option value="60">TOKAT</option>
          <option value="61">TRABZON</option>
          <option value="62">TUNCELİ</option>
          <option value="64">UŞAK</option>
          <option value="65">VAN</option>
          <option value="77">YALOVA</option>
          <option value="66">YOZGAT</option>
          <option value="67">ZONGULDAK</option>
      </select>
      
      <button class="btn-avlak" id="navigateButton">Git</button>
   
        
     
    </div>
  </section>


 

  


  <script src="/js/jquery-3.4.1.min.js"></script>
  <script src="/js/bootstrap.js"></script>
  <script src="/js/custom.js"></script>
<script src="/js/avlak.js"></script>

</body>


</html>